{% extends 'base.html.twig' %}
{% block body %}



    <section class="hero bg-light">
        <div class="container">
            <h1>Vítejte na naší stránce</h1>
            <p>Jednoduchý. Čistý. Přehledný.</p>
            <a href="#" class="btn btn-dark mt-4">Zjistit více</a>
        </div>
    </section>































{% endblock %}