{% extends 'base.html.twig' %}
{% block body %}

    <section class="hero bg-light">
        <div class="container">
            <h1>Práce - výpis</h1>
        </div>
    </section>

    <div id="app"></div>

{% endblock %}