{% extends 'base.html.twig' %}
{% block body %}

<section class="hero bg-light">
    <div class="container">
        <h1>Práce detail -  {{ job.title }}</h1>
        <br>
        <br>
        <p>{{ job.description|raw }}</p>
    </div>
</section>


    <section class="hero bg-light">
        <div class="container">

        </div>
    </section>


{% endblock %}